{% extends '_layouts/base.njk' %}

{% block page_title %}The ship's log{% endblock %}

{% block content %}

<div class="container">
  
    </div>
  </div>
  <div class="row">
    <div class="col">
    <p>
     The following are the harrowing tales of the fearsome pirate Crit McGillicutty. Follow along as you are taken on perilous adventures of plunder, destruction, and most importantly treasure!!
    </p>
      <ul> 
        {% for entry in entries %}
  <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
  <p class="entry-date">{{ entry.date }}</p>
  <hr>
        {% endfor %}
     </ul>
    </div>
  </div>
</div>
{% endblock %}
